repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
    - id: check-jsonschema
      files: ^_data/people.json$
      args: ["--schemafile", "_schemas/people.json"]

