---
layout: base
nav_active: index
title: The BDA Team
---

<h1>The BDA Team</h1>

<p>We do ...</p>


{% assign peopleByCategory = site.data.people | group_by: "category" %}
<!--
<ul class="table-of-contents">
{% for category in peopleByCategory %}
<li><a href="#{{ category.name | downcase | replace: ' ', '' }}">{{ category.name }}</a></li>
{% endfor %}
</ul>
-->
{% for category in peopleByCategory %}
<h2 id="{{ category.name | downcase | replace: ' ', '' }}">{{ category.name }}</h2>

<ul class="entries people">
{% assign people = category.items | sort: "id" %}
{% for person in people %}
<li id="{{ person.id }}">
<div class="entry-image"><img src="/assets/img/people/{{ person.id }}.jpg"></div>
<div class="entry-body">
{% if person.url %}<a href="{{ person.url }}">{% endif -%}
{% if person.title %}<span class="title">{{ person.title }}</span> {% endif -%}
<span class="name">{{ person.name[0] }} {{ person.name[1] }}</span>
{%- if person.url %}</a>{% endif -%}
{% if person.years %} <span class="years">[{{ person.years | replace: '-', '&ndash;'}}]</span>{% endif -%}
<br>
Email: <a href="mailto:{{ person.email }}" class="email">{{ person.email }}</a>
<br>
{%- if person.orcid %}
<a href="https://orcid.org/{{ person.orcid }}" class="icon">{%- include icon/orcid.svg -%}</a>
{% endif -%}
<div class="description">
{% if person.topics %}
Topics:
{%- for topic in person.topics %}{% if forloop.first == false %}, {% endif %}
<span class="topic">{{ topic }}</span>{% endfor %}
{% endif -%}
</div>
</div>
</li>
{% endfor %}
</ul>
{% endfor %}
