---
layout: base
nav_active: people
title: People of the BDA Team
breadcrumbs: ["people"]
---

<h1>People</h1>

{% assign peopleByCategory = site.data.people | group_by: "category" %}
<ul class="table-of-contents">
{% for category in peopleByCategory %}
<li><a href="#{{ category.name | downcase | replace: ' ', '' }}">{{ category.name }}</a></li>
{% endfor %}
</ul>

{% for category in peopleByCategory %}
<h2 id="{{ category.name | downcase | replace: ' ', '' }}">{{ category.name }}<a class="back-to-top" href="#" title="To top">^</a></h2>


<ul class="entries people">
{% assign people = category.items | sort: "id" %}
{% for person in people %}
<li id="{{ person.id }}">
{% include person/person.html person=person personal=false %}
</li>
{% endfor %}
</ul>
{% endfor %}
