{%- comment %}
Parameters:
  - publication. A single publication

Based on ACM Reference Formats (2023, July 11)
https://www.acm.org/publications/authors/reference-formatting
{% endcomment -%}

{%- assign url = nil -%}
{%- assign posterurl = nil -%}
{%- assign slidesurl = nil -%}

{%- assign pdf = include.publication.id | replace: ":", "_" | append: ".pdf" -%}
{%- if include.publication.url -%}
  {%- assign url = include.publication.url -%}
{%- else -%}
  {%- assign path = "publications/papers/" | append: pdf -%}
  {%- if site.data.downloads-bda-team contains path -%}
    {%- assign url = "https://downloads.the-bda.team/" | append: path -%}
  {%- endif -%}
{%- endif -%}
{%- if include.publication.posterurl -%}
  {%- assign posterurl = include.publication.posterurl -%}
{%- else -%}
  {%- assign path = "publications/posters/" | append: pdf -%}
  {%- if site.data.downloads-bda-team contains path -%}
    {%- assign posterurl = "https://downloads.the-bda.team/" | append: path -%}
  {%- endif -%}
{%- endif -%}
{%- if include.publication.slidesurl -%}
  {%- assign slidesurl = include.publication.slidesurl -%}
{%- else -%}
  {%- assign path = "publications/slides/" | append: pdf -%}
  {%- if site.data.downloads-bda-team contains path -%}
    {%- assign slidesurl = "https://downloads.the-bda.team/" | append: path -%}
  {%- endif -%}
{%- endif -%}

{%- assign datasets = "" -%}
{%- for dataset in site.data.data -%}
  {%- if dataset.publications contains include.publication.id -%}
    {%- if datasets != "" %}{% assign datasets = datasets | append: "," %}{% endif -%}
    {%- assign datasets = datasets | append: dataset.id -%}
  {%- endif -%}
{%- endfor -%}

{%- assign events = "" -%}
{%- for event in site.data.events -%}
  {%- if event.publications contains include.publication.id -%}
    {%- if events != "" %}{% assign events = events | append: "," %}{% endif -%}
    {%- assign events = events | append: event.id -%}
  {%- endif -%}
{%- endfor -%}

<li id="{{ include.publication.id }}" class="entry" data-entry-type="publications" data-id="{{ include.publication.id }}"
{%- if include.publication.address %} data-address="{{ include.publication.address }}"{% endif %}
{%- if include.publication.author %} data-author="{% for author in include.publication.author %}{% if forloop.first == false %},{% endif %}{{ author[0] }} {{ author[1] }}{% endfor %}"{% endif %}
{%- if include.publication.appurl %} data-appurl="{{ include.publication.appurl }}"{% endif %}
{%- if include.publication.awardurl %} data-awardurl="{{ include.publication.awardurl }}"{% endif %}
{%- if include.publication.booktitle %} data-booktitle="{{ include.publication.booktitle }}"{% endif %}
{%- if include.publication.category %} data-category="{{ include.publication.category }}"{% endif %}
{%- if include.publication.codeurl %} data-codeurl="{{ include.publication.codeurl }}"{% endif %}
{%- if datasets != "" %} data-data="{{ datasets }}"{% endif %}
{%- if include.publication.dataurl %} data-dataurl="{{ include.publication.dataurl }}"{% endif %}
{%- if include.publication.doi %} data-doi="{{ include.publication.doi }}"{% endif %}
{%- if include.publication.editor %} data-editor="{% for editor in include.publication.editor %}{% if forloop.first == false %},{% endif %}{{ editor[0] }} {{ editor[1] }}{% endfor %}"{% endif %}
{%- if events != "" %} data-events="{{ events }}"{% endif %}
{%- if include.publication.keywords %} data-keywords="{% for keyword in include.publication.keywords %}{% if forloop.first == false %},{% endif %}{{ keyword }}{% endfor %}"{% endif %}
{%- if include.publication.isbn %} data-isbn="{{ include.publication.isbn }}"{% endif %}
{%- if include.publication.issn %} data-issn="{{ include.publication.issn }}"{% endif %}
{%- if include.publication.journal %} data-journal="{{ include.publication.journal }}"{% endif %}
{%- if include.publication.month %} data-month="{{ include.publication.month }}"{% endif %}
{%- if include.publication.number %} data-number="{{ include.publication.number }}"{% endif %}
{%- if include.publication.numpages %} data-numpages="{{ include.publication.numpages }}"{% endif %}
{%- if include.publication.organization %} data-organization="{{ include.publication.organization }}"{% endif %}
{%- if include.publication.pages %} data-pages="{{ include.publication.pages }}"{% endif %}
{%- if posterurl %} data-posterurl="{{ posterurl }}"{% endif %}
{%- if include.publication.preprinturl %} data-preprinturl="{{ include.publication.preprinturl }}"{% endif %}
{%- if include.publication.publisher %} data-publisher="{{ include.publication.publisher }}"{% endif %}
{%- if include.publication.school %} data-school="{{ include.publication.school }}"{% endif %}
{%- if include.publication.series %} data-series="{{ include.publication.series }}"{% endif %}
{%- if include.publication.site %} data-site="{{ include.publication.site }}"{% endif %}
{%- if slidesurl %} data-slidesurl="{{ slidesurl }}"{% endif %}
{%- if include.publication.title %} data-title="{{ include.publication.title }}"{% endif %}
{%- if include.publication.todo %} data-todo="{{ include.publication.todo }}"{% endif %}
{%- if url %} data-url="{{ url }}"{% endif %}
{%- if include.publication.versions %} data-versions="{% for version in include.publication.versions %}{% if forloop.first == false %},{% endif %}{{ version.name }} {{ version.url }}{% endfor %}"{% endif %}
{%- if include.publication.videourl %} data-videourl="{{ include.publication.videourl }}"{% endif %}
{%- if include.publication.volume %} data-volume="{{ include.publication.volume }}"{% endif %}
{%- if include.publication.year %} data-year="{{ include.publication.year }}"{% endif -%}
>
<div>
<span class="reference">
{%- if include.publication.category == "InProceedings" %}
  {% include publication/people.html people=include.publication.author %}.
  {{ include.publication.year }}.
  {% if url %}<a href="{{ url }}">{% endif %}{{ include.publication.title }}{% if url %}</a>{% endif %}.
  In <i>{{ include.publication.booktitle }}</i>, {{ site.months[include.publication.month] }}, {{ include.publication.year }}{% if include.publication.site %}, {{ include.publication.site }}{% endif %}.
  {%- if include.publication.publisher %} {{ include.publication.publisher }}{% if include.publication.address %}, {{ include.publication.address }}{% endif %}{% if include.publication.pages %},{% else %}.{% endif %}{% endif %}{% if include.publication.pages %} {{ include.publication.pages | replace: "--", "–" }}.{% endif %}
{%- elsif include.publication.category == "Article" -%}
  {% include publication/people.html people=include.publication.author %}.
  {{ include.publication.year }}.
  {% if url %}<a href="{{ url }}">{% endif %}{{ include.publication.title }}{% if url %}</a>{% endif %}.
  <i>{{ include.publication.journal }}</i>
  {% if include.publication.volume %}{% if include.publication.number %}{{ include.publication.volume }}, {{ include.publication.number }}{% else %}{{ include.publication.volume }}{% endif %}{% elsif include.publication.number %}{{ include.publication.number }}{% endif %}
  ({{ site.months[include.publication.month] }} {{ include.publication.year }})
  {%- if include.publication.pages %}, {{ include.publication.pages | replace: "--", "–" }}{% elsif include.publication.numpages %}, {{ include.publication.numpages }} pages{% endif %}.
{%- elsif include.publication.category == "PhDThesis" -%}
  {% include publication/people.html people=include.publication.author %}.
  {{ include.publication.year }}.
  <i>{% if url %}<a href="{{ url }}">{% endif %}{{ include.publication.title }}{% if url %}</a>{% endif %}</i>.
  Ph.D. Dissertation.
  {{ include.publication.school }}.
{%- else -%}
{{ include.publication -}}
{%- endif %}
</span>
<span class="resources">
{%- if include.publication.awardurl %}
<a href="{{ include.publication.awardurl }}">award</a>{% endif %}
<button type="button" aria-expanded="false" aria-controls="{{ publication.id }}.bibtex">bib</button>
{%- if include.publication.codeurl %}
<a href="{{ include.publication.codeurl }}">code</a>{% endif %}
<button type="button" id="{{ include.publication.id }}-copy" data-action="copy" data-action-success="✓" data-action-failure="❌" data-target="{{ include.publication.id }}-copy" data-content="{{ page.url | absolute_url }}#{{ include.publication.id }}">copyurl</button>
{%- if datasets != "" %}
<a href="{{ '/data' | relative_url }}?q=publications:{{ include.publication.id | replace: ":", "" | urlencode }}">data</a>{% endif %}
{%- if include.publication.doi %}
<a href="https://doi.org/{{ include.publication.doi }}">doi</a>{% endif %}
{%- if events != "" %}
<a href="{{ '/events' | relative_url }}?q=publications:{{ include.publication.id | replace: ":", "" | urlencode }}">events</a>{% endif %}
{%- if posterurl %}
<a href="{{ posterurl }}">poster</a>{% endif %}
{%- if include.publication.preprinturl %}
<a href="{{ include.publication.preprinturl }}">preprint</a>{% endif %}
{%- if slidesurl %}
<a href="{{ slidesurl }}">slides</a>{% endif %}
{%- if include.publication.versions -%}
{%- for version in include.publication.versions %}
<a href="{{ version.url }}">version {{ version.name }}</a>
{%- endfor -%}
{%- endif %}
{%- if include.publication.videourl %}
<a href="{{ include.publication.videourl }}">video</a>{% endif %}
</span>
<div id="{{ publication.id }}.bibtex" class="bibtex" aria-hidden="true"><span class="element-actions" data-target="{{ publication.id }}.bibtex"><button type="button" class="icon" data-action="copy" title="Copy">{% include icon/copy.svg %}</button></span>@{{ include.publication.category }}{% raw %}{{% endraw %}{{ include.publication.id }},
  {%- if include.publication.address %}
  address = {% raw %}{{% endraw %}{{ include.publication.address | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.author %}
  author = {% raw %}{{% endraw %}{% for person in include.publication.author %}{% if forloop.first == false %} and {% endif %}{{ person[0] | unicode_to_latex }} {% if person[1] contains " " %}{% raw %}{{% endraw %}{% endif %}{{ person[1] | unicode_to_latex }}{% if person[1] contains " " %}{% raw %}}{% endraw %}{% endif %}{% endfor %}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.booktitle %}
  booktitle = {% raw %}{{% endraw %}{{ include.publication.booktitle | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.doi %}
  doi = {% raw %}{{% endraw %}{{ include.publication.doi }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.editor %}
  editor = {% raw %}{{% endraw %}{% for person in include.publication.editor %}{% if forloop.first == false %} and {% endif %}{{ person[0] | unicode_to_latex }} {% if person[1] contains " " %}{% raw %}{{% endraw %}{% endif %}{{ person[1] | unicode_to_latex }}{% if person[1] contains " " %}{% raw %}}{% endraw %}{% endif %}{% endfor %}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.isbn %}
  isbn = {% raw %}{{% endraw %}{{ include.publication.isbn }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.issn %}
  issn = {% raw %}{{% endraw %}{{ include.publication.issn }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.journal %}
  journal = {% raw %}{{% endraw %}{{ include.publication.journal | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.month %}
  month = {{ include.publication.month }},{% endif -%}
  {%- if include.publication.number %}
  number = {% raw %}{{% endraw %}{{ include.publication.number }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.numpages %}
  numpages = {% raw %}{{% endraw %}{{ include.publication.numpages }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.organization %}
  organization = {% raw %}{{% endraw %}{{ include.publication.organization | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.pages %}
  pages = {% raw %}{{% endraw %}{{ include.publication.pages }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.publisher %}
  publisher = {% raw %}{{% endraw %}{{ include.publication.publisher | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.school %}
  school = {% raw %}{{% endraw %}{{ include.publication.school | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.series %}
  series = {% raw %}{{% endraw %}{{ include.publication.series | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.site %}
  site = {% raw %}{{% endraw %}{{ include.publication.site | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.title %}
  title = {% raw %}{{% endraw %}{{ include.publication.title | unicode_to_latex }}{% raw %}}{% endraw %},{% endif -%}
  {%- if url %}
  url = {% raw %}{{% endraw %}{{ url }}{% raw %}}{% endraw %},{% endif -%}
  {%- if include.publication.volume %}
  volume = {% raw %}{{% endraw %}{{ include.publication.volume | unicode_to_latex }}{% raw %}}{% endraw %},{% endif %}
  year = {{ include.publication.year }}
{% raw %}}{% endraw %}
</div>
</div>
</li>
