main footer {
  border: 1px solid black;
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}
main footer .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details.entry {
  display: block;
  border-left: 2px solid black;
  margin: var(--space-default) 0;
  padding: 0 0 0 var(--space-default);
}
details.entry-edited, details.entry-added {
  border-left-color: var(--color-edited-border);
  background-color: var(--color-edited-background);
}
details.entry .entry-body {
  padding-bottom: var(--space-default);
}
details.entry .field {
  padding: var(--space-default);
  display: flex;
  flex-direction: column;
}
details.entry .field label {
  font-size: smaller;
  color: var(--color-grayed-out-font);
}
details.entry textarea {
  height: 7em;
}
details.entry textarea.json-editor {
  width: 100%;
  min-height: 21em;
  resize: vertical;
  font-family: monospace;
}
details.entry .field .idref-row,
details.entry .field .removable {
  display: flex;
  margin-bottom: 1px;
  border-radius: 0px;
}
details.entry .field .idref-row button,
details.entry .field .removable button {
  padding: 0 var(--space-default);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.chips {
  display: flex;
  gap: var(--space-default);
  flex-wrap: wrap;
  margin-bottom: var(--space-default);
}
.chips .chip {
  border: 1px solid;
  border-radius: var(--space-default);
  padding: 2px 0px 2px var(--space-default);
  font-size: smaller;
  white-space: nowrap;
  background-color: white;
}
.chips .chip button {
  margin-left: var(--space-default);
  padding: 0px var(--space-default);
  background-color: initial;
  color: black;
}
.chips .chip button:hover {
  filter: brightness(1);
}

#errors li {
  display: flex;
  justify-content: space-between;
  align-items:  flex-start;
  margin: var(--space-default);
  border: 1px solid black;
  border-radius: var(--space-default);
  padding: var(--space-default);
  gap: calc(2*var(--space-default));
  background-color: var(--color-button-danger-background);
  color: white;
}
