{%- comment %}
Parameters:
  - events. List of events, ordered by time
  - headings. Tag for year headings, if any
{% endcomment -%}

{% assign eventsByYear = include.events | group_by: "year" %}
{% for eventsOfYear in eventsByYear %}
{% if include.headings %}<{{ include.headings }} id="year{{ eventsOfYear.name }}">{{ eventsOfYear.name }}<a class="back-to-top" href="#" title="To top">^</a></{{ include.headings }}>{% endif %}
<ul class="entries events"{% if include.headings %} data-headings="year{{ eventsOfYear.name }}"{% endif %}>
{%- for event in eventsOfYear.items %}
{% include event/event.html event=event %}
{%- endfor %}
</ul>
{% endfor %}
