{%- comment %}
Parameters:
  - event. A single event 
{% endcomment -%}

{%- assign posterurl = nil -%}
{%- assign slidesurl = nil -%}

{%- assign pdf = include.event.id | replace: ":", "_" | append: ".pdf" -%}
{%- if include.event.posterurl -%}
  {%- assign posterurl = include.event.posterurl -%}
{%- else -%}
  {%- assign path = "events/posters/" | append: pdf -%}
  {%- if site.data.downloads-bda-team contains path -%}
    {%- assign posterurl = "https://downloads.the-bda.team/" | append: path -%}
  {%- endif -%}
{%- endif -%}
{%- if include.event.slidesurl -%}
  {%- assign slidesurl = include.event.slidesurl -%}
{%- else -%}
  {%- assign path = "events/slides/" | append: pdf -%}
  {%- if site.data.downloads-bda-team contains path -%}
    {%- assign slidesurl = "https://downloads.the-bda.team/" | append: path -%}
  {%- endif -%}
{%- endif -%}

{%- assign datasets = "" -%}
{%- for dataset in site.data.data -%}
  {%- if dataset.events contains include.event.id -%}
    {%- if datasets != "" %}{% assign datasets = datasets | append: "," %}{% endif -%}
    {%- assign datasets = datasets | append: dataset.id -%}
  {%- endif -%}
{%- endfor -%}

<li id="{{ include.event.id }}" class="entry" data-id="{{ include.event.id }}"
{%- if include.event.category %} data-category="{{ include.event.category }}"{% endif %}
{%- if datasets != "" %} data-data="{{ datasets }}"{% endif %}
{%- if include.event.description %} data-description="{{ include.event.description }}"{% endif %}
{%- if include.event.host %} data-host="{{ include.event.host }}"{% endif %}
{%- if include.event.hosturl %} data-hosturl="{{ include.event.hosturl }}"{% endif %}
{%- if include.event.keywords %} data-keywords="{% for keyword in include.event.keywords %}{% if forloop.first == false %},{% endif %}{{ keyword }}{% endfor %}"{% endif %}
{%- if include.event.month %} data-month="{{ include.event.month }}"{% endif %}
{%- if include.event.name %} data-name="{{ include.event.name }}"{% endif %}
{%- if include.event.people %} data-people="{% for person in include.event.people %}{% if forloop.first == false %},{% endif %}{{ person }},{% assign persondata = site.data.people | where: "id", person | first %}{{ persondata.name[0] }} {{ persondata.name[1] }}{% endfor %}"{% endif %}
{%- if posterurl %} data-posterurl="{{ posterurl }}"{% endif %}
{%- if include.event.publications %} data-publications="{% for publication in include.event.publications %}{% if forloop.first == false %},{% endif %}{{ publication }}{% endfor %}"{% endif %}
{%- if include.event.site %} data-site="{{ include.event.site }}"{% endif %}
{%- if slidesurl %} data-slidesurl="{{ slidesurl }}"{% endif %}
{%- if include.event.url %} data-url="{{ include.event.url }}"{% endif %}
{%- if include.event.videourl %} data-url="{{ include.event.videourl }}"{% endif %}
{%- if include.event.year %} data-year="{{ include.event.year }}"{% endif -%}
>
<div>
{% if include.event.url %}<a href="{{ include.event.url }}">{% endif %}<span class="name">{{ include.event.name }}</span>{% if include.event.url %}</a>{% endif -%}
{% if include.event.host %} @ {% if include.event.hosturl %}<a href="{{ include.event.hosturl }}">{% endif %}<span class="host">{{ include.event.host }}</span>{% if include.event.hosturl %}</a>{% endif %}{% endif -%}
<br><span class="category">{{ include.event.category }}</span>. <span class="description">{{ include.event.description }}.</span> <span class="site">{{ include.event.site }}.</span>
<span class="resources">
{%- if datasets != "" %}
<a href="{{ '/data' | relative_url }}?q=events:{{ include.event.id | replace: ":", "" | urlencode }}">data</a>{% endif %}
{%- if posterurl %}
<a href="{{ posterurl }}">poster</a>{% endif %}
{%- if include.event.publications %}
<a href="{{ '/publications' | relative_url }}?q=events:{{ include.event.id | urlencode }}">publications</a>{% endif %}
{%- if slidesurl %}
<a href="{{ slidesurl }}">slides</a>{% endif %}
{%- if include.event.videourl %}
<a href="{{ include.event.videourl }}">video</a>{% endif %}
</span>
</div>
</li>
