<!doctype html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="copyright" content="&copy; {{site.time | date: '%Y'}} BDA Team">
<link rel="canonical" href="{{ page.url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
{%- for css in page.additional_css %}
<link rel="stylesheet" href="{{ '/assets/css/' | append: css | append: '.css' | relative_url }}?{{site.time | date: '%s'}}">
{%- endfor %}
</head>
<body>

<nav>
<div class="content">
<div class="home"><a href="{{ '/' | relative_url }}"{% if page.nav_active == "index" %} class="selected"{% endif %}>BDA</a></div>
<div class="links">
<a href="{{ '/people' | relative_url }}"{% if page.nav_active == "people" %} class="selected"{% endif %}>People</a>
<a href="{{ '/publications' | relative_url }}"{% if page.nav_active == "publications" %} class="selected"{% endif %}>Publications</a>
<a href="{{ '/events' | relative_url }}"{% if page.nav_active == "events" %} class="selected"{% endif %}>Events</a>
</div>
</div>
</nav>

<main>
<div class="content">
{% if page.breadcrumbs %}
<ul class="breadcrumbs">
<li><a href="{{ '/' | relative_url }}">the-bda.team</a></li>
{% assign path = "" -%}
{% for breadcrumb in page.breadcrumbs -%}
{% assign path = path | append: "/" | append: breadcrumb -%}
<li>› <a href="{{ path | relative_url }}">{{ breadcrumb }}</a></li>
{% endfor %}
</ul>
{% endif %}

{{ content }}
</div>
</main>

<footer>
<div class="content">
&copy; {{ site.time | date: "%Y" }} <a href="{{ '/' | relative_url }}">The BDA Team</a>
- {% capture githubicon -%}{%- include icon/github.svg -%}{%- endcapture -%}<a class="icon" href="https://github.com/the-bda-team">{{ githubicon | strip_newlines }}</a>
- <a href="{{ '/legal' | relative_url }}">Impressum</a>
</div>
</footer>

<script src="{{ '/assets/js/base.js' | relative_url }}?{{site.time | date: '%s'}}"></script>
<script src="{{ '/assets/js/filter.js' | relative_url }}?{{site.time | date: '%s'}}"></script>
</body>
</html>

