<!doctype html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="copyright" content="&copy; {{site.time | date: '%Y'}} BDA Team">
<link rel="canonical" href="{{ page.url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
{%- for css in page.additional_css %}
<link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
{%- endfor %}
</head>
<body>

<nav>
<div class="content">
<div class="home"><a href="/">BDA</a></div>
<div class="links">
<a href="/people"{% if page.nav_active == "people" %} class="selected"{% endif %}>People</a>
<a href="/publications"{% if page.nav_active == "publications" %} class="selected"{% endif %}>Publications</a>
<a href="/events"{% if page.nav_active == "events" %} class="selected"{% endif %}>Events</a>
</div>
</div>
</nav>

<main>
<div class="content">
{% if page.breadcrumbs %}
<ul class="breadcrumbs">
<li><a href="/">the-bda.team</a></li>
{% assign path = "" %}
{% for breadcrumb in page.breadcrumbs %}
{% assign path = path | append: "/" | append: breadcrumb %}
<li>› <a href="{{ path }}">{{ breadcrumb }}</a></li>
{% endfor %}
</ul>
{% endif %}

{{ content }}
</div>
</main>

<footer>
<div class="content">
Footer
</div>
</footer>

</body>
</html>
